<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

        <entry key="idCheck">
         <!-- 아이디 중복체크 용 쿼리문 / 2023-04-14 김서영 -->
        	SELECT COUNT(*) AS CNT
			  FROM MEMBER
		 	 WHERE MEMBER_ID = ?
        </entry>


<!--  어드민부분 -->

        <!-- 회원 전체 조회 / 2023-04-14 최명진 -->
        <entry key="selectMemberListAd">
        SELECT MEMBER_NO, MEMBER_ID
		     , PASSWORD , NAME
		     , BIRTH_DATE ,GENDER
		     , EMAIL , PHONE
		     , TO_CHAR(ENROLL_DATE, 'YY/MM/DD HH24:MI:SS') ENROLL_DATE
		     , TO_CHAR(MODIFY_DATE, 'YY/MM/DD HH24:MI:SS') MODIFY_DATE
		     , STATUS
		     , GRADE_NAME
		     , TOTAL_MONEY
		      FROM MEMBER
		      JOIN MEMBER_GRADE USING (GRADE_NO)
        </entry>
        <!-- 회원 번호에 따른 상세 조회 / 2023-04-14 최명진 -->
        <entry key="selectMemberAd">
        SELECT MEMBER_NO, MEMBER_ID
		     , PASSWORD , NAME
		     , BIRTH_DATE ,GENDER
		     , EMAIL , PHONE
		     , TO_CHAR(ENROLL_DATE, 'YY/MM/DD HH24:MI:SS') ENROLL_DATE
		     , TO_CHAR(MODIFY_DATE, 'YY/MM/DD HH24:MI:SS') MODIFY_DATE
		     , STATUS
		     , GRADE_NAME
		     , TOTAL_MONEY
		FROM MEMBER
		JOIN MEMBER_GRADE USING (GRADE_NO)
		WHERE MEMBER_NO = ?
        </entry>


		<!-- 회원 등급 수정 / 2023-04-14 최명진 -->
		<entry key="updateMemberAd">
		UPDATE MEMBER
		SET GRADE_NO = ?
		, STATUS = ?
		WHERE MEMBER_NO = ?
		</entry>

        <!-- 모든 멤버 조회 / 2023-04-22 최명진 -->
        <entry key="selectAllmemberCount">

        SELECT COUNT(*)
        FROM MEMBER
        </entry>

        <entry key="selectTotalMoney">

        SELECT SUM(TOTAL_MONEY)
        FROM MEMBER
        </entry>
        
        

</properties>






