<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="increaseCount">
		UPDATE ITEM
		SET ITEM_HITS = ITEM_HITS + 1
		WHERE ITEM_CODE = ?
		AND ITEM_STATUS = 'Y'
	</entry>

	<entry key="selectItem">
	SELECT
	   ITEM_CODE
      ,ITEM_NAME
      ,ITEM_PRICE
      ,ROUND(ITEM_PRICE * (1-ITEM_DISCOUNT),-1) as DISCOUNT_PRICE
      ,ITEM_DISCOUNT
      ,ITEM_CATEGORY
      ,ITEM_HITS    
      ,ITEM_IMG_PATH
      ,ITEM_TEXT 
	FROM ITEM I 
	JOIN (
    SELECT ITEM_IMG_CODE, ITEM_IMG_PATH
    FROM ITEM_IMG IMG
    WHERE ITEM_IMG_LEVEL = 1
	) IMG ON ( IMG.ITEM_IMG_CODE = I.ITEM_CODE)
	WHERE ITEM_CODE = ?
	AND ITEM_STATUS = 'Y'

	</entry>

	<entry key="selectAttachmentList">
        SELECT ITEM_IMG_CODE
		, ITEM_IMG_PATH
		, ITEM_IMG_LEVEL
		FROM ITEM_IMG
		WHERE ITEM_IMG_NO = ?

	</entry>
	
	<!--  상세페이지 리뷰 쿼리문 -->
	<entry key="selectReviewList">
		SELECT r.REVIEW_NO
	     , r.TITLE
	     , r.CONTENT
	     , TO_CHAR(r.WRITE_DATE, 'YY/MM/DD HH:MI:SS') WRITE_DATE
	     , r.STAR_POINT
	     , r.ITEM_CODE
	     , m.MEMBER_NO
	     , m.MEMBER_ID
	  FROM REVIEW r
	  JOIN MEMBER m ON (m.MEMBER_NO = r.MEMBER_NO)
	 WHERE r.ITEM_CODE = ?
	   AND r.DELETE_STATUS != 'N'
	 ORDER BY r.WRITE_DATE DESC
	
	</entry>

	<entry key="selectListCount">
		SELECT COUNT(*) COUNT FROM ITEM
	</entry>
	
		<entry key="selelctAttachmentCategory">
	SELECT
      ITEM_NAME
      ,ITEM_PRICE
      ,ROUND(ITEM_PRICE * (1-ITEM_DISCOUNT),-1) as DISCOUNT_PRICE
      ,ITEM_DISCOUNT
      ,ITEM_CATEGORY    
      ,ITEM_IMG_PATH
      ,ITEM_TEXT 
	FROM ITEM I 
	JOIN (
    SELECT ITEM_IMG_CODE, ITEM_IMG_PATH
    FROM ITEM_IMG IMG
    WHERE ITEM_IMG_LEVEL = 1
	) IMG ON ( IMG.ITEM_IMG_CODE = I.ITEM_CODE)
	WHERE I.ITEM_CATEGORY = ?
	AND ITEM_STATUS = 'Y'
	</entry>
	
	

	<entry key="selectItemListAd">
		SELECT *
		FROM (
		SELECT ROWNUM RNUM,
		A.*
		FROM (
		SELECT ITEM_CODE
		, TO_CHAR(ITEM_DATE, 'YY/MM/DD HH:MI:SS') ITEM_DATE
		, ITEM_IMAGE
		, ITEM_NAME
		, ITEM_STOCK
		, ITEM_PRICE
		, ITEM_STATUS
		FROM ITEM
		LEFT JOIN ITEM_IMG ON (ITEM_IMG_CODE = ITEM_CODE)
		ORDER BY ITEM_DATE DESC
		) A
		)
		WHERE RNUM BETWEEN ? AND ?
	</entry>

	<entry key="selectListCountUser">
		SELECT COUNT(*) COUNT 
		FROM ITEM
		WHERE (ITEM_CATEGORY = ? OR ? = '전체')
		AND ITEM_STATUS = 'Y'
	</entry>


	<entry key="selectItemList">
		SELECT *
		FROM (
		SELECT ROWNUM RNUM,
		A.*
		FROM (
        SELECT ITEM_CODE
		, TO_CHAR(ITEM_DATE, 'YY/MM/DD HH:MI:SS') ITEM_DATE
        , ITEM_CATEGORY
		, ITEM_IMG_PATH
		, ITEM_NAME
        , ITEM_TEXT
		, ITEM_STOCK
		, ITEM_PRICE
		, ITEM_HITS
		, ITEM_STATUS
		FROM ITEM
		LEFT JOIN ITEM_IMG ON (ITEM_IMG_CODE = ITEM_CODE)
		WHERE ITEM_STATUS = 'Y'
		 AND (ITEM_CATEGORY = ? OR ? = '전체') 
		 AND ITEM_NAME LIKE '%' || ? || '%' <!-- 상품 전체 키워드 검색 추가 -->
<!-- 		ORDER BY ITEM_DATE DESC -->
		<!-- 필터에 따라 가격, 신상품 등 구현 예정-->
		) A
		)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	

	<entry key="selectItemList_lowPrice">
		ORDER BY ITEM_PRICE ASC
	</entry>
	
	<entry key="selectItemList_highPrice">
		ORDER BY ITEM_PRICE DESC
	</entry>
	
	<entry key="selectItemList_datePrice">
		ORDER BY ITEM_DATE DESC
	</entry>
	
	<entry key="selectItemList_viewPrice">
		ORDER BY ITEM_HITS DESC
	</entry>
	
	<entry key="selectItemList_all">
		ORDER BY ITEM_CATEGORY DESC
	</entry>
	
	
	<entry key="selectBestItemList">
		SELECT *
		FROM (
		SELECT ROWNUM RNUM,
		A.*
		FROM (
		SELECT ITEM_CODE
		, TO_CHAR(ITEM_DATE, 'YY/MM/DD HH:MI:SS') ITEM_DATE
		, ITEM_CATEGORY
		, ITEM_IMG_PATH
		, ITEM_NAME
		, ITEM_TEXT
		, ITEM_STOCK
		, ITEM_PRICE
		, ITEM_HITS
		, ITEM_STATUS
		FROM ITEM
		LEFT JOIN ITEM_IMG ON (ITEM_IMG_CODE = ITEM_CODE)
		ORDER BY ITEM_HITS DESC
		) A
		)
		WHERE RNUM BETWEEN ? AND ?	
	</entry>
	
	<entry key="selectNewItemList">
		SELECT *
		FROM (
		SELECT ROWNUM RNUM,
		A.*
		FROM (
		SELECT ITEM_CODE
		, TO_CHAR(ITEM_DATE, 'YY/MM/DD HH:MI:SS') ITEM_DATE
		, ITEM_CATEGORY
		, ITEM_IMG_PATH
		, ITEM_NAME
		, ITEM_TEXT
		, ITEM_STOCK
		, ITEM_PRICE
		, ITEM_HITS
		, ITEM_STATUS
		FROM ITEM
		LEFT JOIN ITEM_IMG ON (ITEM_IMG_CODE = ITEM_CODE)
		ORDER BY ITEM_DATE DESC
		) A
		)
		WHERE RNUM BETWEEN ? AND ? AND ITEM_DATE > '23/04/01'
	</entry>
	
	<entry key="selectDiscountItemList">
		SELECT *
		FROM (
		SELECT ROWNUM RNUM,
		A.*
		FROM (
		SELECT ITEM_CODE
		, TO_CHAR(ITEM_DATE, 'YY/MM/DD HH:MI:SS') ITEM_DATE
		, ITEM_CATEGORY
		, ITEM_IMG_PATH
		, ITEM_NAME
		, ITEM_TEXT
		, ITEM_STOCK
		, ITEM_PRICE
		, ITEM_HITS
		, ITEM_STATUS
        , ITEM_DISCOUNT
		FROM ITEM
		LEFT JOIN ITEM_IMG ON (ITEM_IMG_CODE = ITEM_CODE)
		ORDER BY ITEM_DISCOUNT DESC
		) A
		)
		WHERE RNUM BETWEEN ? AND ? 	
	</entry>
	
	<entry key="mainDiscountList">
		SELECT ITEM_CODE, 
		ITEM_CATEGORY , 
		TO_CHAR(ITEM_DATE, 'YY/MM/DD HH:MI:SS') ITEM_DATE,
		ITEM_PRICE AS ORIGINALPRICE,
		ROUND(ITEM_PRICE * (1 - ITEM_DISCOUNT),-1) AS DISCOUNTPRICE ,
		ITEM_NAME,
		ITEM_TEXT ,
		ITEM_DISCOUNT,
		ITEM_IMG_PATH
		FROM ITEM, ITEM_IMG
		WHERE ITEM_STATUS = 'Y'
		AND ITEM_IMG_CODE = ITEM_CODE
		AND ROWNUM &lt;= 10
		ORDER BY ITEM_DISCOUNT
	</entry>
	
	<entry key="newList">
		SELECT ITEM_CODE, 
		ITEM_CATEGORY , 
		TO_CHAR(ITEM_DATE, 'YY/MM/DD HH:MI:SS') ITEM_DATE,
		ITEM_PRICE AS ORIGINALPRICE,
		ROUND(ITEM_PRICE * (1 - ITEM_DISCOUNT),-1) AS DISCOUNTPRICE ,
		ITEM_NAME,
		ITEM_TEXT ,
		ITEM_DISCOUNT,
		ITEM_IMG_PATH
		FROM ITEM, ITEM_IMG
		WHERE ITEM_STATUS = 'Y'
		AND ITEM_IMG_CODE = ITEM_CODE
		AND ROWNUM &lt;= 6
		ORDER BY ITEM_DATE DESC
	</entry>
	
	<entry key="bestList">
		SELECT ITEM_CODE, 
		ITEM_CATEGORY , 
		TO_CHAR(ITEM_DATE, 'YY/MM/DD HH:MI:SS') ITEM_DATE,
		ITEM_PRICE AS ORIGINALPRICE,
		ROUND(ITEM_PRICE * (1 - ITEM_DISCOUNT),-1) AS DISCOUNTPRICE ,
		ITEM_NAME,
		ITEM_TEXT ,
		ITEM_DISCOUNT,
		ITEM_IMG_PATH
		FROM ITEM, ITEM_IMG
		WHERE ITEM_STATUS = 'Y'
		AND ITEM_IMG_CODE = ITEM_CODE
		AND ROWNUM &lt;= 5
		ORDER BY ITEM_HITS DESC
	</entry>
	
	<entry key="selectItemListSearch">
		SELECT *
		FROM (
		SELECT ROWNUM RNUM,
		A.*
		FROM (
        SELECT ITEM_CODE
		, TO_CHAR(ITEM_DATE, 'YY/MM/DD HH:MI:SS') ITEM_DATE
        , ITEM_CATEGORY
		, ITEM_IMG_PATH
		, ITEM_NAME
        , ITEM_TEXT
		, ITEM_STOCK
		, ITEM_PRICE
		, ITEM_HITS
		, ITEM_STATUS
		FROM ITEM
		LEFT JOIN ITEM_IMG ON (ITEM_IMG_CODE = ITEM_CODE)
		WHERE ITEM_STATUS = 'Y'
		 AND (ITEM_CATEGORY = ? OR ? = '전체') 
		 AND ITEM_NAME LIKE '%' || ? || '%' <!-- 상품 전체 키워드 검색 추가 -->
	     ORDER BY ITEM_DATE DESC
		) A
		)
		WHERE RNUM BETWEEN ? AND ?
	</entry>



</properties>