<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="">
		UPDATE ITEM
		SET COUNT = COUNT + 1
		WHERE ITEM_NO = ?
	</entry>

	<entry key="">
		SELECT ITEM_NO
		,

	</entry>

	<entry key="selectListCount">
		SELECT COUNT(*) COUNT FROM ITEM
	</entry>

	<entry key="selectItemListAd">
		SELECT *
		FROM (
		SELECT ROWNUM RNUM,
		A.*
		FROM (
		SELECT ITEM_CODE
		, TO_CHAR(ITEM_DATE, 'YY/MM/DD HH:MI:SS') ITEM_DATE
		, ITEM_IMAGE
		, ITEM_NAME
		, ITEM_STOCK
		, ITEM_PRICE
		, ITEM_STATUS
		FROM ITEM
		LEFT JOIN ITEM_IMG ON (ITEM_IMG_CODE = ITEM_CODE)
		ORDER BY ITEM_DATE DESC
		) A
		)
		WHERE RNUM BETWEEN ? AND ?
	</entry>

	<entry key="selectListCountUser">
		SELECT COUNT(*) COUNT 
		FROM ITEM
		WHERE (ITEM_CATEGORY = ? OR ? = '전체')
		AND ITEM_STATUS = 'Y'
	</entry>


	<entry key="selectItemList">
		SELECT *
		FROM (
		SELECT ROWNUM RNUM,
		A.*
		FROM (
        SELECT ITEM_CODE
		, TO_CHAR(ITEM_DATE, 'YY/MM/DD HH:MI:SS') ITEM_DATE
        , ITEM_CATEGORY
		, ITEM_IMG_PATH
		, ITEM_NAME
        , ITEM_TEXT
		, ITEM_STOCK
		, ITEM_PRICE
		, ITEM_HITS
		, ITEM_STATUS
		FROM ITEM
		LEFT JOIN ITEM_IMG ON (ITEM_IMG_CODE = ITEM_CODE)
		WHERE ITEM_STATUS = 'Y'
		 AND (ITEM_CATEGORY = ? OR ? = '전체') 
		ORDER BY ITEM_DATE DESC
		) A
		)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectBestItemList">
		SELECT *
		FROM (
		SELECT ROWNUM RNUM,
		A.*
		FROM (
		SELECT ITEM_CODE
		, TO_CHAR(ITEM_DATE, 'YY/MM/DD HH:MI:SS') ITEM_DATE
		, ITEM_CATEGORY
		, ITEM_IMG_PATH
		, ITEM_NAME
		, ITEM_TEXT
		, ITEM_STOCK
		, ITEM_PRICE
		, ITEM_HITS
		, ITEM_STATUS
		FROM ITEM
		LEFT JOIN ITEM_IMG ON (ITEM_IMG_CODE = ITEM_CODE)
		ORDER BY ITEM_HITS DESC
		) A
		)
		WHERE RNUM BETWEEN ? AND ?	
	</entry>
	
	<entry key="selectNewItemList">
		SELECT *
		FROM (
		SELECT ROWNUM RNUM,
		A.*
		FROM (
		SELECT ITEM_CODE
		, TO_CHAR(ITEM_DATE, 'YY/MM/DD HH:MI:SS') ITEM_DATE
		, ITEM_CATEGORY
		, ITEM_IMG_PATH
		, ITEM_NAME
		, ITEM_TEXT
		, ITEM_STOCK
		, ITEM_PRICE
		, ITEM_HITS
		, ITEM_STATUS
		FROM ITEM
		LEFT JOIN ITEM_IMG ON (ITEM_IMG_CODE = ITEM_CODE)
		ORDER BY ITEM_DATE DESC
		) A
		)
		WHERE RNUM BETWEEN ? AND ? AND ITEM_DATE > '23/04/01'
	</entry>
	
	<entry key="selectDiscountItemList">
		SELECT *
		FROM (
		SELECT ROWNUM RNUM,
		A.*
		FROM (
		SELECT ITEM_CODE
		, TO_CHAR(ITEM_DATE, 'YY/MM/DD HH:MI:SS') ITEM_DATE
		, ITEM_CATEGORY
		, ITEM_IMG_PATH
		, ITEM_NAME
		, ITEM_TEXT
		, ITEM_STOCK
		, ITEM_PRICE
		, ITEM_HITS
		, ITEM_STATUS
        , ITEM_DISCOUNT
		FROM ITEM
		LEFT JOIN ITEM_IMG ON (ITEM_IMG_CODE = ITEM_CODE)
		ORDER BY ITEM_DISCOUNT DESC
		) A
		)
		WHERE RNUM BETWEEN ? AND ? 	
	</entry>

</properties>