<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="increaseCount">
		UPDATE ITEM
		SET ITEM_HITS = ITEM_HITS + 1
		WHERE ITEM_CODE = ?
		AND ITEM_STATUS = 'Y'
	</entry>

	<entry key="selectItem">
	SELECT ITEM_CODE
      ,ITEM_NAME
      ,ITEM_PRICE
      ,ITEM_PRICE * (1-ITEM_DISCOUNT) as DISCOUNT_PRICE
      ,ITEM_DISCOUNT
      ,ITEM_CATEGORY    
      ,ITEM_IMAGE
	FROM ITEM I 
	JOIN (
    	SELECT ITEM_IMG_CODE, ITEM_IMAGE
    	FROM ITEM_IMG
    	WHERE ITEM_IMG_T_F = 'Y'
		) 
		IMG ON ( IMG.ITEM_IMG_CODE = I.ITEM_CODE)
		WHERE ITEM_CODE = ?
		AND ITEM_STATUS = 'Y';

	</entry>

	<entry key="selectAttachmentList">
		SELECT ITEM_IMG_CODE
		, ITEM_IMAGE
		, ITEM_IMG_T_F
		FROM ITEM_IMG
		WHERE ITEM_IMG_CODE = ?

	</entry>

	<entry key="selectListCount">
		SELECT COUNT(*) COUNT FROM ITEM
	</entry>

	<entry key="selectItemListAd">
		SELECT *
		FROM (
		SELECT ROWNUM RNUM,
		A.*
		FROM (
		SELECT ITEM_CODE
		, TO_CHAR(ITEM_DATE, 'YY/MM/DD HH:MI:SS') ITEM_DATE
		, ITEM_IMAGE
		, ITEM_NAME
		, ITEM_STOCK
		, ITEM_PRICE
		, ITEM_STATUS
		FROM ITEM
		LEFT JOIN ITEM_IMG ON (ITEM_IMG_CODE = ITEM_CODE)
		ORDER BY ITEM_DATE DESC
		) A
		)
		WHERE RNUM BETWEEN ? AND ?
	</entry>

	<entry key="selectItemList">
		SELECT *
		FROM (
		SELECT ROWNUM RNUM,
		A.*
		FROM (
        SELECT ITEM_CODE
		, TO_CHAR(ITEM_DATE, 'YY/MM/DD HH:MI:SS') ITEM_DATE
        , ITEM_CATEGORY
		, ITEM_IMAGE
		, ITEM_NAME
        , ITEM_TEXT
		, ITEM_STOCK
		, ITEM_PRICE
		, ITEM_HITS
		, ITEM_STATUS
		FROM ITEM
		LEFT JOIN ITEM_IMG ON (ITEM_IMG_CODE = ITEM_CODE)
		ORDER BY ITEM_DATE DESC
		) A
		)
		WHERE RNUM BETWEEN ? AND ?
	</entry>

</properties>