<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="selectReviewList">
	SELECT REVIEW_NO
	 , TITLE
	 , CONTENT
     , TO_CHAR(WRITE_DATE, 'YY/MM/DD HH:MI:SS') WRITE_DATE
     , STAR_POINT
     , ORDER_NO
     , ITEM.ITEM_CODE
 	FROM REVIEW 
	JOIN ITEM ON REVIEW.REVIEW_NO = ITEM.ITEM_CODE
    WHERE DELETE_STATUS = 'Y'
    AND REVIEW_NO = ?
 	ORDER BY WRITE_DATE DESC
	
	</entry>
	
		<entry key="deleteReview">
		UPDATE REVIEW
		   SET DELETE_STATUS = 'N'
		 WHERE REVIEW_NO = ?
		</entry>


	
	


</properties>