<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="selectReview">
	SELECT REVIEW_NO
        ,TITLE
        ,CONTENT
        ,WRITE_DATE
        ,STAR_POINT
        ,FILE_PATH_NAME
        ,ORDER_NO
        ,ITEM_CODE
        ,DELETE_STATUS
        ,MEMBER_NO
		FROM REVIEW
		JOIN MEMBER  ON (MEMBER_NO = REVIEW_NO)
		WHERE ITEM_CODE = ?
		AND DELETE_STATUS = 'Y'
	
	</entry>
	
		<entry key="deleteReview">
		UPDATE REVIEW
		   SET DELETE_STATUS = 'N'
		 WHERE REVIEW_NO = ?
		</entry>
		
		
		
		<entry key="insertReview">
		INSERT INTO REVIEW (REVIEW_NO
                    ,TITLE
                    ,CONTENT
                    ,STAR_POINT
                    ,WRITE_DATE
                    ,ITEM_CODE
                    ,MEMBER_NO
                    ,DELETE_STATUS)
        VALUES (SEQ_RNO.NEXTVAL
                ,?                
                ,?
                ,?
                ,SYSDATE
                ,?
                ,?
                ,'Y')
		
		</entry>
		
		<entry key="updateReview">
		   UPDATE REVIEW
    	   SET 
<!--     	      TITLE = ?  -->
      		CONTENT = ?
<!--            ,STAR_POINT = ?  -->
            WHERE REVIEW_NO = ?
            
		</entry>


	
	


</properties>