<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

	<entry key="selectCartList">
		SELECT CART_NO
		     , CART_STOCK
		     , ITEM_PRICE
		     , ITEM_PRICE * (1 - ITEM_DISCOUNT) AS DISCOUNTPRICE 
		     , (ITEM_PRICE * CART_STOCK) AS TOTAL_PRICE
		     , (ITEM_PRICE * (1 - ITEM_DISCOUNT) * CART_STOCK) AS TOTAL_DISCOUNT_PRICE
		     , (ITEM_PRICE * CART_STOCK) - (ITEM_PRICE * (1 - ITEM_DISCOUNT) * CART_STOCK)
		       AS DIFFERENCE_PRICE
		     , C.MEMBER_NO AS MEMBERNO
		     , ITEM_NAME
		  FROM CART C, ITEM I, MEMBER M
		 WHERE C.ITEM_CODE = I.ITEM_CODE
		   AND C.MEMBER_NO = ?	
	</entry>





</properties>