<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
		SELECT COUNT(*) COUNT
		  FROM NOTICE
		 WHERE DELETE_STATUS = 'N'
		   
	</entry>
	

	<entry key="selectNoticeList">
		
			SELECT * 
		 	 FROM (
		      SELECT ROWNUM RNUM
		         , A.*
		      FROM (SELECT NOTICE_NO
		                 , NOTICE_TITLE
                         , VIEWS
		                 , CREATE_DATE
		              FROM NOTICE 
		             WHERE DELETE_STATUS = 'N'
		             ORDER BY CREATE_DATE DESC
		            ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>

</properties>

