<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	
	<entry key="SelectAddress">
		SELECT SHIP_NO
		FROM SHIPPING_ADDRESS
		WHERE MEMBER_NO = ?	
	</entry>
	

	<entry key="OrderService">
		INSERT INTO ORDERS
		VALUES(
		    SEQ_ORDER_NO.NEXTVAL
		  , 3000
		  , '요청사항 없음'
		  , ?
		  , SYSDATE
		  , 'Y'
		  , ?
		  , '카카오페이'
		  , 'Y'
		  , ?
		  , ?
		  , ?
		  , '배송준비중'
		)	
	</entry>
	
	<entry key="DeleteCart">
		DELETE FROM CART
		WHERE MEMBER_NO = ?	
	</entry>

<!-- 주문내역 리스트 조회 중 갯수 조회용 쿼리문 / 2023-04-24 김서영 -->
	<entry key="selectListCount">
		SELECT COUNT(ORDER_NO) CNT
		  FROM ORDERS
		 WHERE MEMBER_NO = ?
	</entry>


<!-- 주문내역 리스트 가져오기 쿼리문 / 2023-04-24 김서영 -->
<!-- 아이템 이미지까지 같이 불러오기 / 2023-04-25 조승호 수정 -->
	<entry key="selectList">
		SELECT ORDER_NO
		     , ORDER_STATUS
		     , ORDER_DATE
		     , LISTAGG(ITEM_NAME, ', ') WITHIN GROUP (ORDER BY ITEM_NAME) AS ITEM_LIST
		     , LISTAGG(ITEM_IMG.ITEM_IMG_PATH, ', ') WITHIN GROUP (ORDER BY ITEM_IMG.ITEM_IMG_PATH) AS ITEM_IMG_PATH
		     , SUM(ROUND(ITEM_PRICE * (1-ITEM_DISCOUNT), -1) * ORDER_ITEM) AS TOTAL_PRICE
		  FROM ORDERS
		  JOIN ITEM_LIST USING (ORDER_NO)
		  JOIN ITEM I USING (ITEM_CODE)
		  JOIN ITEM_IMG ON ITEM_CODE = ITEM_IMG_CODE
		 WHERE MEMBER_NO = ?
		 GROUP BY ORDER_NO, ORDER_STATUS, ORDER_DATE
		 ORDER BY ORDER_NO DESC		 
	</entry>


<!-- 가장 비싼 아이템의 사진 불러오기 쿼리문 / 2023-04-24 김서영 -->
	<entry key="maxImgSelect">
		 SELECT MAX(PRICE) AS MAX_PRICE
		      , MAX(ITEM_IMG_PATH) AS ITEM_IMG_PATH
		   FROM ITEM_LIST
		   JOIN ITEM_IMG ON ITEM_CODE = ITEM_IMG_CODE
		   JOIN ITEM ON ITEM_LIST.ITEM_CODE = ITEM.ITEM_CODE
		   JOIN ORDERS O USING (ORDER_NO)
		  WHERE O.MEMBER_NO = ?
	</entry>
	
	<entry key="insertListItem">
		INSERT INTO ITEM_LIST (ITEM_LIST_NO, ORDER_ITEM, PRICE, ORDER_NO, ITEM_CODE)
		SELECT SEQ_ILNO.NEXTVAL, C.CART_STOCK, C.PRICE, O.ORDER_NO, C.ITEM_CODE
		FROM CART C
		INNER JOIN ORDERS O
		ON C.MEMBER_NO = O.MEMBER_NO
		WHERE C.MEMBER_NO = ?
		AND O.ORDER_STATUS = '배송완료'
		AND O.ORDER_NO = (select MAX(T.ORDER_NO)
		                    from ORDERS T
		                    where C.MEMBER_NO = T.MEMBER_NO)	
	</entry>
	
	<entry key="SelectOrderComplete">
		SELECT IL.ITEM_LIST_NO AS ITEM_LIST_NO
		     , IL.ORDER_ITEM AS QUANTITY        
		     , IL.PRICE AS PRICE
		     , IL.ORDER_NO AS ORDER_NO                  
		     , II.ITEM_IMG_PATH AS ITEM_IMG
		     , O.DELIVERY_FEE AS DELIVERY_FEE           
		     , O.REQUEST AS REQUEST                      
		     , O.RES_PHONE AS PHONE                     
		     , O.ORDER_DATE AS ORDER_DATE               
		     , O.TRACKING_NO AS TRACKING_NO             
		     , O.PAYMENT_NO AS PAMENT                   
		     , O.PAYMENT_STATUS AS PAYMENT_STATUS       
		     , O.MEMBER_NO AS MEMBER_NO                 
		     , O.SHIP_NO AS SHIP_NO                     
		     , O.PAYMENT_AMOUNT AS TOTAL_PRICE          
		     , O.ORDER_STATUS AS ORDER_STATUS           
		     , M.NAME AS NAME
		     , M.GRADE_NO AS GRADE
		     , S.SHIP_ADDR AS ADDRESS
		     , IM.ITEM_NAME AS ITEM_NAME
		  FROM ITEM_LIST IL
		 INNER JOIN ITEM_IMG II ON IL.ITEM_CODE = II.ITEM_IMG_CODE
		 INNER JOIN ORDERS O ON IL.ORDER_NO = O.ORDER_NO
		 INNER JOIN MEMBER M ON O.MEMBER_NO = M.MEMBER_NO
		 INNER JOIN SHIPPING_ADDRESS S ON O.SHIP_NO = S.SHIP_NO
		 INNER JOIN ITEM IM ON IL.ITEM_CODE = IM.ITEM_CODE
		 WHERE O.MEMBER_NO = ?
		   AND O.ORDER_NO = ?
	</entry>

</properties>
