<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

	<entry key="selectListCount">
		SELECT COUNT(*) COUNT FROM ITEM
	</entry>

	<entry key="selectListSale">
		SELECT COUNT(*) COUNT FROM ITEM
		WHERE ITEM_STATUS = ?
	</entry>


	<entry key="selectItemList">
		SELECT *
		FROM (
		SELECT ROWNUM RNUM,
		A.*
		FROM (
		SELECT
		ITEM_CODE
		, TO_CHAR(ITEM_DATE, 'YY/MM/DD HH24:MI:SS') ITEM_DATE
		,
		ITEM_IMG_PATH
		, ITEM_NAME
		, ITEM_STOCK
		, ITEM_PRICE
		, ITEM_STATUS
		FROM ITEM
		LEFT JOIN ITEM_IMG ON (ITEM_IMG_CODE = ITEM_CODE)
		WHERE ITEM_IMG_LEVEL
		= 1
		ORDER BY ITEM_DATE
		DESC
		) A
		)
		WHERE RNUM BETWEEN ? AND ?
	</entry>

	<entry key="selectSaleItemList">
		SELECT *
		FROM (
		SELECT ROWNUM RNUM,
		A.*
		FROM (
		SELECT
		ITEM_CODE
		, TO_CHAR(ITEM_DATE, 'YY/MM/DD HH24:MI:SS') ITEM_DATE
		,
		ITEM_IMG_PATH
		, ITEM_NAME
		, ITEM_STOCK
		, ITEM_PRICE
		, ITEM_STATUS
		FROM ITEM
		LEFT JOIN ITEM_IMG ON (ITEM_IMG_CODE = ITEM_CODE)
		WHERE ITEM_STATUS = ?
		AND ITEM_IMG_LEVEL = 1
		ORDER BY ITEM_DATE DESC
		) A
		)
		WHERE RNUM BETWEEN ?
		AND ?
	</entry>

	<entry key="insertItem">
		INSERT INTO ITEM(ITEM_CODE
		,ITEM_CATEGORY
		,ITEM_NAME
		,ITEM_STOCK
		,ITEM_PRICE
		,ITEM_TEXT
		,ITEM_DISCOUNT)

		VALUES(SEQ_INO.NEXTVAL
		,?
		,?
		,?
		,?
		,?
		,?)
	</entry>

	<entry key="insertItemImg">
		INSERT INTO ITEM_IMG(ITEM_IMG_NO
		, ITEM_IMG_CODE
		,
		ITEM_IMG_LEVEL
		, ITEM_IMG_PATH)

		VALUES(SEQ_IIMGNO.NEXTVAL
		,
		SEQ_INO.CURRVAL
		, ?
		, ?)
	</entry>

	<entry key="selectItem">
		SELECT ITEM_CODE
		, ITEM_CATEGORY
		, ITEM_NAME
		, ITEM_PRICE
		, ITEM_TEXT
		, ITEM_DISCOUNT
		, ITEM_IMG_PATH
		, ITEM_HITS
		, ITEM_STOCK
		, ITEM_STATUS
		,
		TO_CHAR(ITEM_DATE, 'YY/MM/DD HH24:MI:SS') ITEM_DATE
		, ROUND(ITEM_PRICE
		*
		(1-ITEM_DISCOUNT),-1) AS DISCOUNT_PRICE
		FROM ITEM
		JOIN ITEM_IMG ON
		ITEM_CODE = ITEM_IMG_CODE
		WHERE ITEM_CODE = ?
		AND ITEM_STATUS = 'Y'
	</entry>

	<entry key="updateItem">
		UPDATE ITEM
		SET ITEM_CATEGORY = ?
		, ITEM_NAME = ?
		,
		ITEM_PRICE = ?
		, ITEM_TEXT = ?
		, ITEM_DISCOUNT = ?
		, ITEM_STOCK = ?
		WHERE
		ITEM_CODE = ?
	</entry>

	<entry key="selectImgList">
		SELECT ITEM_IMG_NO, ITEM_IMG_CODE, ITEM_IMG_LEVEL,
		ITEM_IMG_PATH
		FROM ITEM_IMG
		JOIN ITEM ON ITEM_IMG_CODE = ITEM_CODE
		WHERE
		ITEM_CODE = ?
		AND ITEM_STATUS = 'Y'

	</entry>
	
	<entry key="deleteItem">
	UPDATE ITEM 
	SET ITEM_STATUS = ?
	</entry>

</properties>