<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

	<!-- 2023-04-22 최명진 모든 상품 갯수 -->
	<entry key="selectListCount">
		SELECT COUNT(*) COUNT FROM ITEM
		LEFT JOIN ITEM_IMG ON (ITEM_IMG_CODE = ITEM_CODE)
		WHERE ITEM_IMG_LEVEL IS NOT NULL
	</entry>

	<!-- 2023-04-22 최명진 모든 판매/판매중지 상품 갯수 -->	
	<entry key="selectListSale">
		SELECT COUNT(*) COUNT FROM ITEM
		LEFT JOIN ITEM_IMG ON (ITEM_IMG_CODE = ITEM_CODE)
		WHERE ITEM_IMG_LEVEL IS NOT NULL
		AND ITEM_STATUS = ?
	</entry>

	<!-- 2023-04-22 최명진 모든 상품 조회 -->
	<entry key="selectItemList">
		SELECT *
		FROM (
		SELECT ROWNUM RNUM,
		A.*
		FROM (
		SELECT
		ITEM_CODE
		, TO_CHAR(ITEM_DATE, 'YY/MM/DD HH24:MI:SS') ITEM_DATE
		,
		ITEM_IMG_PATH
		, ITEM_NAME
		, ITEM_STOCK
		, ITEM_PRICE
		, ITEM_STATUS
		, DESCRIPTION
		FROM ITEM
		LEFT JOIN ITEM_IMG ON (ITEM_IMG_CODE = ITEM_CODE)
		WHERE ITEM_IMG_LEVEL = 1
		ORDER BY ITEM_STATUS DESC, ITEM_DATE DESC
		) A
		)
		WHERE RNUM BETWEEN ? AND ?
	</entry>

	<!-- 2023-04-22 최명진 모든 판매/판매중지 상품 조회 -->
	<entry key="selectSaleItemList">
		SELECT *
		FROM (
		SELECT ROWNUM RNUM,
		A.*
		FROM (
		SELECT
		ITEM_CODE
		, TO_CHAR(ITEM_DATE, 'YY/MM/DD HH24:MI:SS') ITEM_DATE
		,
		ITEM_IMG_PATH
		, ITEM_NAME
		, ITEM_STOCK
		, ITEM_PRICE
		, ITEM_STATUS
		, DESCRIPTION
		FROM ITEM
		LEFT JOIN ITEM_IMG ON (ITEM_IMG_CODE = ITEM_CODE)
		WHERE ITEM_STATUS = ?
		AND ITEM_IMG_LEVEL = 1
		ORDER BY ITEM_DATE DESC
		) A
		)
		WHERE RNUM BETWEEN ? AND ?
	</entry>


	<!-- 2023-04-22 최명진 상품 추가 -->
	<entry key="insertItem">
		INSERT INTO ITEM(ITEM_CODE
		,ITEM_CATEGORY
		,ITEM_NAME
		,ITEM_STOCK
		,ITEM_PRICE
		,ITEM_TEXT
		,ITEM_DISCOUNT
		, DESCRIPTION)

		VALUES(SEQ_INO.NEXTVAL
		,?
		,?
		,?
		,?
		,?
		,?
		,?)
	</entry>

	<!-- 2023-04-22 최명진 상품 이미지 추가 -->
	<entry key="insertItemImg">
		INSERT INTO ITEM_IMG(ITEM_IMG_NO
		, ITEM_IMG_CODE
		, ITEM_IMG_LEVEL
		, ITEM_IMG_PATH)

		VALUES(SEQ_IIMGNO.NEXTVAL
		, SEQ_INO.CURRVAL
		, ?
		, ?)
	</entry>
	
	<entry key="insertItemImgCode">
		INSERT INTO ITEM_IMG(ITEM_IMG_NO
		, ITEM_IMG_CODE
		, ITEM_IMG_LEVEL
		, ITEM_IMG_PATH)

		VALUES(SEQ_IIMGNO.NEXTVAL
		, ?
		, ?
		, ?)
	</entry>

	<!-- 2023-04-22 최명진 아이템 상세조회 -->
	<entry key="selectItem">
		SELECT ITEM_CODE
		, ITEM_CATEGORY
		, ITEM_NAME
		, ITEM_PRICE
		, ITEM_TEXT
		, ITEM_DISCOUNT
		, ITEM_IMG_PATH
		, ITEM_HITS
		, ITEM_STOCK
		, ITEM_STATUS
		, DESCRIPTION
		,
		TO_CHAR(ITEM_DATE, 'YY/MM/DD HH24:MI:SS') ITEM_DATE
		, ROUND(ITEM_PRICE
		*
		(1-ITEM_DISCOUNT),-1) AS DISCOUNT_PRICE
		FROM ITEM
		JOIN ITEM_IMG ON
		ITEM_CODE = ITEM_IMG_CODE
		WHERE ITEM_CODE = ?
	</entry>

	<!-- 2023-04-22 상품 정보업데이트 -->
	<entry key="updateItem">
		UPDATE ITEM
		SET ITEM_CATEGORY = ?
				, ITEM_NAME = ?
				, ITEM_STOCK = ?	
				, ITEM_PRICE = ?
				, ITEM_TEXT = ?
				, ITEM_DISCOUNT = ?
				, ITEM_STATUS = ?
				, DESCRIPTION = ?
				, ITEM_DATE = SYSDATE
				WHERE ITEM_CODE = ?
	</entry>

	<!-- 2023-04-22 최명진 상품 이미지 조회 -->
	<entry key="selectImgList">
		SELECT ITEM_IMG_NO, ITEM_IMG_CODE, ITEM_IMG_LEVEL,
		ITEM_IMG_PATH
		FROM ITEM_IMG
		JOIN ITEM ON ITEM_IMG_CODE = ITEM_CODE
		WHERE
		ITEM_CODE = ?
		AND ITEM_STATUS = 'Y'

	</entry>
	
	<!-- 2023-04-22 상품 판매 중지 -->
	<entry key="deleteItem">
	UPDATE ITEM 
	SET ITEM_STATUS = ?, ITEM_DATE = SYSDATE
	
	WHERE ITEM_CODE = ?
	</entry>

	<!-- 2023-04-22 최명진 상품 이미지 업데이트 -->
	<entry key="updateItemImg">
	INSERT INTO ITEM_IMG(ITEM_IMG_NO
		, ITEM_IMG_CODE
		,
		ITEM_IMG_LEVEL
		, ITEM_IMG_PATH)

		VALUES(
		SEQ_IIMGNO.NEXTVAL,
		?,
		?,
		?)
	</entry>

	<!-- 2023-04-22 최명진 찜목록 체크 -->
	<entry key="checkFavorite">
		SELECT COUNT(*) COUNT
		FROM WISHLIST
		WHERE ITEM_CODE = ?
		AND MEMBER_NO = ?
	</entry>

	<!-- 2023-04-22 최명진 찜목록 추가 -->
	<entry key="addFavorite">
		INSERT INTO WISHLIST VALUES(?, ?)
	</entry>

	<!-- 2023-04-22 최명진 찜목록 삭제 -->
	<entry key="deleteFavorite">
		DELETE FROM WISHLIST
		WHERE ITEM_CODE = ?
		AND MEMBER_NO = ?
	</entry>
	
	<entry key="updateItemImg">
		UPDATE ITEM_IMG
		SET ITEM_IMG_PATH = ?
		
		WHERE ITEM_IMG_LEVEL = ?
		AND ITEM_IMG_CODE = ?	
	</entry>

</properties>