*{
    margin: 0px;
    padding : 0;
}

table {
    border-collapse: collapse;
}

caption {
    display: none;
}

a {
    text-decoration: none;
    color : inherit;
}

.board_list_head{
    border-top: 4px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.board_list_body .item{
    border-bottom : 1px solid lightgray;
}

.board_list_head,
.board_list_body .item {
    font-size: 0;
}
.board_list_head>div{
    display: inline-block;
    font-size : 20px;
    text-align: center;

}
.board_list_head,
.board_list_body .item{
    padding: 20px 0;
}
.board_list_body .item>div {
    display: inline-block;
    font-size : 15px;
}
.board_list_body .item{
    text-align: center;
}

.notice_num {
    width :15%;

}

.notice_tit {

    width :55%;
}

.notice_date {
    width :20%;
}

.notice_view {
    width :10%;
}

.board_list_body .notice_tit{
    text-align: left;
}



.board_list_body div.notice_tit a:hover {
    background: lightcyan  no-repeat 174px 52%;
    background-size: 6px 11px;
    font-weight: 700;
    color: #5f0080;
    cursor: pointer;
}

#no_tit{
	margin-left:195px;
}


#snb .list_menu li.on a, .list_menu li a:hover {
    background: #fafafa url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11_on.svg) no-repeat 174px 52%;
    background-size: 6px 11px;
    font-weight: 700;
    color: rgb(254,116,119);
}

#snb .list_menu li a {
    display: block;
    overflow: hidden;
    padding: 15px 0 15px 20px;
    background: #fff url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11.svg) no-repeat 174px 52%;
    background-size: 6px 11px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    letter-spacing: -.3px;
}

