<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

<!-- 2023-04-18 김서영 / 작성한 문의 사항 정보 조회용 쿼리문 -->
	<entry key="selectInquiry">
		SELECT *
		  FROM INQUIRY
		 WHERE INQ_NO = ?
    	   AND DELETE_STATUS = 'Y'
	</entry>


<!--  2023-04-17 김서영 / 리스트 갯수 조회용 쿼리문 -->
	<entry key="selectListCount">
		SELECT COUNT(*) CNT
		  FROM INQUIRY
		 WHERE MEMBER_NO = ?
 		   AND DELETE_STATUS = 'Y'
	</entry>


<!--  2023-04-17 김서영 / 1:1 문의 리스트  조회용 쿼리문 -->
	<entry key="selectList">
		SELECT *
		  FROM (
          		 SELECT ROWNUM RNUM
                       , S.*
              	   FROM (SELECT INQ_NO
                              , INQUIRY_TYPE
                              , TITLE
                              , M.MEMBER_ID
                              , DATE_CREATE
                              , DESCRIPTION
                              , REPLY_CONTENTS
                              , REPLY_DATE
                          FROM INQUIRY I
                          JOIN MEMBER M USING (MEMBER_NO)
                         WHERE I.DELETE_STATUS = 'Y'
                           AND MEMBER_NO = ?
                         ORDER BY DATE_CREATE DESC
                       ) S
              )
		  WHERE RNUM BETWEEN ? AND ?

	</entry>

	<!--  1:1 문의 등록용 쿼리문 / 2023-04-18 김서영 -->
	<entry key="insertInquiry">
		INSERT INTO INQUIRY (INQ_NO
                           , TITLE
                           , DESCRIPTION
                           , DATE_CREATE
                           , INQUIRY_TYPE
                           , MEMBER_NO
                           , DELETE_STATUS)
                    VALUES (SEQ_INQ.NEXTVAL
                           , ?
                           , ?
                           , SYSDATE
                           , ?
                           , ?
                           , 'Y')
	</entry>


<!--  1:1 문의 수정용 쿼리문 / 2023-04-18 김서영 -->
	<entry key="updateInquiry">
		UPDATE INQUIRY
    	   SET INQUIRY_TYPE = ?
       		 , TITLE = ?
      		 , DESCRIPTION = ?
     	     , DATE_CREATE = SYSDATE
		 WHERE INQ_NO = ?
	</entry>

<!--  1:1 문의 삭제용 쿼리문 / 2023-04-19 김서영  -->
	<entry key="deleteInquiry">
		UPDATE INQUIRY
   		   SET DELETE_STATUS = 'N'
		 WHERE INQ_NO = ?
	</entry>

</properties>