<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

<!--  2023-04-17 김서영 / 리스트 갯수 조회용 쿼리문 -->
	<entry key="selectListCount">
		SELECT COUNT(*) CNT
		  FROM INQUIRY
		 WHERE MEMBER_NO = ?
 		   AND DELETE_STATUS = 'Y'
	</entry>


<!--  2023-04-17 김서영 / 1:1 문의 리스트  조회용 쿼리문 -->
	<entry key="selectList">
		SELECT *
		  FROM (
          		 SELECT ROWNUM RNUM
                       , I.*
              	   FROM (SELECT INQ_NO
                              , INQUIRY_TYPE
                              , TITLE
                              , M.MEMBER_ID
                              , DATE_CREATE
                              , DESCRIPTION
                              , REPLY_CONTENTS
                              , REPLY_DATE
                          FROM INQUIRY I
                          JOIN MEMBER M USING (MEMBER_NO)
                         WHERE I.DELETE_STATUS = 'Y'
                           AND MEMBER_NO = 6
                         ORDER BY DATE_CREATE DESC
                       ) I
              )
		  WHERE RNUM BETWEEN ? AND ?

	</entry>

	<!--  1:1 문의 등록용 쿼리문 / 2023-04-18 김서영 -->
	<entry key="insertInquiry">
		INSERT INTO INQUIRY (INQ_NO
                           , TITLE
                           , DESCRIPTION
                           , DATE_CREATE
                           , INQUIRY_TYPE
                           , MEMBER_NO
                           , DELETE_STATUS)
                    VALUES (SEQ_INQ.NEXTVAL
                           , ?
                           , ?
                           , SYSDATE
                           , ?
                           , ?
                           , 'Y')
	</entry>

</properties>