<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="idCheck">
	 <!-- 아이디 중복체크 용 쿼리문 / 2023-04-14 김서영 -->
	    SELECT COUNT(*) AS CNT
	      FROM MEMBER
	      WHERE MEMBER_ID = ?
	</entry>


	<!-- 회원가입할 회원의 번호를 조회하는 쿼리문 / 2023-04-15 김서영  -->
	<entry key="selectMemberNo">
	    SELECT SEQ_MNO.NEXTVAL AS MEMBER_NO
	    FROM DUAL
	</entry>

	<!-- 회원가입용 (회원 정보 추가) 쿼리문 / 2023-04-15 김서영  -->
	<entry key="insertMember">
	    INSERT INTO MEMBER (MEMBER_NO
	                       , MEMBER_ID
	                       , PASSWORD
	                       , NAME
	                       , BIRTH_DATE
	                       , GENDER
	                       , EMAIL
	                       , PHONE
	                       , ENROLL_DATE)
	             VALUES (?
	                   , ?
	                   , ?
	                   , ?
	                   , ?
	                   , ?
	                   , ?
	                   , ?
	                   , SYSDATE)
	</entry>

	<!-- 회원가입하는 회원의 주소 추가용 쿼리문 -->
	<entry key="insertMemberAddr">
	    INSERT INTO SHIPPING_ADDRESS (SHIP_NO
	                                , SHIP_ADDR
	                                , SHIP_ADDR_INFO
	                                , PHONE
	                                , ZIPCODE
	                                , MEMBER_NO)
	                          VALUES (SEQ_SHIP_NO.NEXTVAL
	                                , ?
	                                , ?
	                                , ?
	                                , ?
	                                , ?)
	</entry>

<!-- 2023-04-17 김서영 / 아이디 찾기-->
	<entry key="findId">
	    SELECT NAME
	           , MEMBER_ID
	      FROM MEMBER
	     WHERE NAME = ?
	         AND PHONE = ?
	         AND STATUS = 'Y'
	</entry>

<!-- 2023-04-17 김서영 / 회원정보 수정 시 정보 조회용 쿼리문 -->
	<entry key="selectMemberInfo">
	    SELECT MEMBER_ID
	         , EMAIL
	         , NAME
	         , GENDER
	         , BIRTH_DATE
	      FROM MEMBER
	     WHERE MEMBER_ID = ?

	</entry>



</properties>






