<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!-- 개인 회원의 배송지 조회용 쿼리문 수정함 / 2023.04.19 이지환 -->
<!-- 기본 배송지 관련 추가 / 이지환 -->
<!-- 2023.04.25 /
	shipNo를 기반으로 한 특정 배송지 조회 기능 수정
	기본배송지로 설정 체크박스 클릭된 상태로 저장하기 버튼 클릭 시 해당 회원의 해당 배송지만
	기본배송지로 수정되도록 설정 및 그 후 기본배송지를 포함해서 화면에 나타나도록 조회 기능 추가 / 이지환
	  -->

<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="idCheck">
	 <!-- 아이디 중복체크 용 쿼리문 / 2023-04-14 김서영 -->
	    SELECT COUNT(*) AS CNT
	      FROM MEMBER
	      WHERE MEMBER_ID = ?
	</entry>


	<!-- 회원가입할 회원의 번호를 조회하는 쿼리문 / 2023-04-15 김서영  -->
	<entry key="selectMemberNo">
	    SELECT SEQ_MNO.NEXTVAL AS MEMBER_NO
	    FROM DUAL
	</entry>

	<!-- 회원가입용 (회원 정보 추가) 쿼리문 / 2023-04-15 김서영  -->
	<entry key="insertMember">
	    INSERT INTO MEMBER (MEMBER_NO
	                       , MEMBER_ID
	                       , PASSWORD
	                       , NAME
	                       , BIRTH_DATE
	                       , GENDER
	                       , EMAIL
	                       , PHONE
	                       , ENROLL_DATE)
	             VALUES (?
	                   , ?
	                   , ?
	                   , ?
	                   , ?
	                   , ?
	                   , ?
	                   , ?
	                   , SYSDATE)
	</entry>

	<!-- 회원가입하는 회원의 주소 추가용 쿼리문 -->
	<entry key="insertMemberAddr">
	    INSERT INTO SHIPPING_ADDRESS (SHIP_NO
	                                , SHIP_ADDR
	                                , SHIP_ADDR_INFO
	                                , PHONE
	                                , ZIPCODE
	                                , MEMBER_NO
	                                , SHIP_NAME
	                                , DEFAULT_ADDRESS)
	                          VALUES (SEQ_SHIP_NO.NEXTVAL
	                                , ?
	                                , ?
	                                , ?
	                                , ?
	                                , SEQ_MNO.CURRVAL
	                                , '집'
	                                , 'Y')
	</entry>

<!-- 2023-04-17 김서영 / 아이디 찾기-->
	<entry key="findId">
	    SELECT NAME
	         , MEMBER_ID
	      FROM MEMBER
	     WHERE NAME = ?
	         AND PHONE = ?
	         AND STATUS = 'Y'
	</entry>

<!-- 2023-04-17 김서영 / 회원정보 수정 시 정보 조회용 쿼리문 -->
	<entry key="selectMemberInfo">
		SELECT *
		  FROM MEMBER
		 WHERE MEMBER_ID = ?

	</entry>


		<!-- 개인 회원의 로그인 기능 / 2023-04-18 이지환 -->
		<!-- 2023-04-23 조승호 수정 : CART 수량 조회 추가 -->
		<entry key="loginUser">
			SELECT (SELECT COUNT(*)
			        FROM CART C
			        INNER JOIN MEMBER M
			        ON C.MEMBER_NO = M.MEMBER_NO
			        WHERE M.MEMBER_ID = ?) AS CART_COUNT,
			       M.*
			FROM MEMBER M
			WHERE M.MEMBER_ID = ?
			AND M.PASSWORD = ?
			AND M.STATUS = 'Y'
		</entry>


		<!-- 개인 회원의 배송지 조회용 쿼리문 수정함 / 2023.04.19 이지환 -->

        <entry key="selectShippingAddressList">
	        SELECT *
	        FROM SHIPPING_ADDRESS
	        WHERE MEMBER_NO = ?
	        
	       <!--  2023.04.25 추가 -->
	          
        </entry>

<!-- 회원정보 (기본 정보) 업데이트용 쿼리문 / 2023-04-20 김서영 -->
		<entry key="updateInfoMember">
			 UPDATE MEMBER
			    SET NAME = ?
			      , BIRTH_DATE = ?
			      , GENDER = ?
			      , EMAIL = ?
			      , PHONE = ?
			      , MODIFY_DATE = SYSDATE
			  WHERE MEMBER_ID = ?
		</entry>


<!--  회원정보 (비밀번호) 업데이트용 쿼리문 / 2023-04-20 김서영 -->
		<entry key="updatePwdMember">
			UPDATE MEMBER
			   SET PASSWORD = ?
			     , MODIFY_DATE = SYSDATE
			 WHERE MEMBER_ID = ?
			   AND PASSWORD = ?
		</entry>

<!--  회원 탈퇴용 쿼리문 / 2023-04-20 김서영 -->
		<entry key="deleteMember">
			UPDATE MEMBER
    		   SET MODIFY_DATE = SYSDATE
       			 , STATUS = 'N'
			 WHERE MEMBER_ID = ?
   			   AND PASSWORD = ?
		</entry>

<!--  비밀번호 찾기 회원정보 조회용 쿼리문 / 2023-04-20 김서영 -->
		<entry key="findPwdMember">
			SELECT *
		   	  FROM MEMBER
			 WHERE NAME = ?
			   AND EMAIL = ?
		</entry>

<!-- 임시비밀번호로 수정하는 쿼리문 / 2023-04-20 김서영 -->
		<entry key="updateExtraPwd">
			UPDATE MEMBER
			   SET PASSWORD = ?
			     , ENROLL_DATE = SYSDATE
			 WHERE NAME = ?
			   AND EMAIL = ?
		</entry>

<!-- 2023.04.25 배송지 목록 업데이트 쿼리문 수정 / 이지환 -->

		<entry key="updateMemberShipAddress">
			 UPDATE SHIPPING_ADDRESS
			 
			 <!--  2023.04.25 ship_no 추가 -->
			  	SET SHIP_ADDR = ?
			  	  , SHIP_ADDR_INFO = ?
			  	  , PHONE = ?
			  	  , SHIP_NAME = ?
			  	  
			  	  <!-- 2023.04.25 ZIPCODE 추가 / 이지환 -->
			  	  , ZIPCODE = ?
			  	  <!-- DEFAULT_ADDR 추가 -->
			  	  
			   	  , DEFAULT_ADDRESS = ?
			  	    WHERE MEMBER_NO = ?
			  	    AND SHIP_NO = ?
		</entry>
		
		<!--   2023.04.25 / shipNo를 기반으로 한 특정 배송지 조회 기능 수정 / 이지환  -->
		<entry key="selectShipAddressByShipNo">
			 SELECT SHIP_ADDR
			  	  , SHIP_ADDR_INFO
			   	  , PHONE
			   	  , SHIP_NAME
			   	  , MEMBER_NO
			   	  , SHIP_NO
			   	  , ZIPCODE
			   	  , DEFAULT_ADDRESS
			   	  
			   	 
			   FROM SHIPPING_ADDRESS
			  WHERE SHIP_NO = ?
		 </entry>
		 
		 <!-- 2023.04.25 / 기본 배송지 업데이트 시 해당 회원의 배송지 목록을 다 n으로 바꿈 / 이지환 -->
		 	<entry key= "updteDefaultAddress">
		 		UPDATE SHIPPING_ADDRESS
		 	 	   SET DEFAULT_ADDRESS = 'N'
		 	 	 WHERE MEMBER_NO = ?
		 	 </entry>
		 	 
		 	 <!-- 2023.04.25 기본 배송지 유무 조회 (있으면 1, 없으면 0) 이지환 -->
		 	 <entry key= "selectDefaultAddress">
		 	 	SELECT COUNT *
		 	 	  FROM SHIPPING_ADDRESS
		 	 	 WHERE MEMBER_NO = ?
		 	 	   AND DEFAULT_ADDRESS = 'Y'
		 	 </entry>
		 	 
		 	 <!-- 2023.04.25
		 	 기본 배송지 수정 및 조회 기능
		 	 (그 회원의 배송지 목록을 다 n으로 바꾼 후, 그 회원의 기본배송지가 없을 때 체크박스를 선택한 저장하기 버튼을 누른 행을 기본배송지로 설정하도록) / 이지환-->
		 	 <entry key = "updateShippingAddressToDefault">
		 	 	  UPDATE SHIPPING_ADDRESS
		 	 	     SET DEFAULT_ADDRESS = 'Y'
		 	 	   WHERE MEMBER_NO = ?
		 	 	     AND SHIP_NO = ? 
		 	 	     AND DEFAULT_ADDRESS = 'N'
		 	 </entry>
		 	 
		 	
		 	
</properties>




