<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!-- 개인 회원의 배송지 조회용 쿼리문 수정함 / 2023.04.19 이지환 -->

<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="idCheck">
	 <!-- 아이디 중복체크 용 쿼리문 / 2023-04-14 김서영 -->
	    SELECT COUNT(*) AS CNT
	      FROM MEMBER
	      WHERE MEMBER_ID = ?
	</entry>


	<!-- 회원가입할 회원의 번호를 조회하는 쿼리문 / 2023-04-15 김서영  -->
	<entry key="selectMemberNo">
	    SELECT SEQ_MNO.NEXTVAL AS MEMBER_NO
	    FROM DUAL
	</entry>

	<!-- 회원가입용 (회원 정보 추가) 쿼리문 / 2023-04-15 김서영  -->
	<entry key="insertMember">
	    INSERT INTO MEMBER (MEMBER_NO
	                       , MEMBER_ID
	                       , PASSWORD
	                       , NAME
	                       , BIRTH_DATE
	                       , GENDER
	                       , EMAIL
	                       , PHONE
	                       , ENROLL_DATE)
	             VALUES (?
	                   , ?
	                   , ?
	                   , ?
	                   , ?
	                   , ?
	                   , ?
	                   , ?
	                   , SYSDATE)
	</entry>

	<!-- 회원가입하는 회원의 주소 추가용 쿼리문 -->
	<entry key="insertMemberAddr">
	    INSERT INTO SHIPPING_ADDRESS (SHIP_NO
	                                , SHIP_ADDR
	                                , SHIP_ADDR_INFO
	                                , PHONE
	                                , ZIPCODE
	                                , MEMBER_NO)
	                          VALUES (SEQ_SHIP_NO.NEXTVAL
	                                , ?
	                                , ?
	                                , ?
	                                , ?
	                                , ?)
	</entry>

<!-- 2023-04-17 김서영 / 아이디 찾기-->
	<entry key="findId">
	    SELECT NAME
	         , MEMBER_ID
	      FROM MEMBER
	     WHERE NAME = ?
	         AND PHONE = ?
	         AND STATUS = 'Y'
	</entry>

<!-- 2023-04-17 김서영 / 회원정보 수정 시 정보 조회용 쿼리문 -->
	<entry key="selectMemberInfo">
		SELECT *
		  FROM MEMBER
		 WHERE MEMBER_ID = ?

	</entry>


		<!-- 개인 회원의 로그인 기능 / 2023-04-18 이지환 -->
		<!-- 2023-04-23 조승호 수정 : CART 수량 조회 추가 -->
		<entry key="loginUser">
			SELECT (SELECT COUNT(*)
			        FROM CART C
			        INNER JOIN MEMBER M
			        ON C.MEMBER_NO = M.MEMBER_NO
			        WHERE M.MEMBER_ID = ?) AS CART_COUNT,
			       M.*
			FROM MEMBER M
			WHERE M.MEMBER_ID = ?
			AND M.PASSWORD = ?
			AND M.STATUS = 'Y'
		</entry>


		<!-- 개인 회원의 배송지 조회용 쿼리문 수정함 / 2023.04.19 이지환 -->

        <entry key="selectShippingAddressList">
	        SELECT *
	        FROM SHIPPING_ADDRESS
	        WHERE MEMBER_NO = ?
        </entry>

<!-- 회원정보 (기본 정보) 업데이트용 쿼리문 / 2023-04-20 김서영 -->
		<entry key="updateInfoMember">
			 UPDATE MEMBER
			    SET NAME = ?
			      , BIRTH_DATE = ?
			      , GENDER = ?
			      , EMAIL = ?
			      , PHONE = ?
			      , MODIFY_DATE = SYSDATE
			  WHERE MEMBER_ID = ?
		</entry>


<!--  회원정보 (비밀번호) 업데이트용 쿼리문 / 2023-04-20 김서영 -->
		<entry key="updatePwdMember">
			UPDATE MEMBER
			   SET PASSWORD = ?
			     , MODIFY_DATE = SYSDATE
			 WHERE MEMBER_ID = ?
			   AND PASSWORD = ?
		</entry>

<!--  회원 탈퇴용 쿼리문 / 2023-04-20 김서영 -->
		<entry key="deleteMember">
			UPDATE MEMBER
    		   SET MODIFY_DATE = SYSDATE
       			 , STATUS = 'N'
			 WHERE MEMBER_ID = ?
   			   AND PASSWORD = ?
		</entry>



</properties>





