<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

	<entry key="selectListCount">
		SELECT COUNT(*) COUNT FROM ORDERS
	</entry>

	<entry key="selectOrderStatusCount">
		SELECT COUNT(*) COUNT FROM ORDERS
		WHERE ORDER_STATUS =
		?
	</entry>


	<entry key="selectAllOrderList">
		SELECT *
		FROM (
		SELECT ROWNUM RNUM,
		A.*
		FROM (
		SELECT
		ORDER_NO
		, MEMBER_ID
		, PAYMENT_AMOUNT
		, TO_CHAR(ORDER_DATE, 'YY/MM/DD
		HH24:MI:SS') ORDER_DATE
		, SHIP_ADDR
		, ORDER_STATUS
		FROM ORDERS
		JOIN MEMBER
		USING(MEMBER_NO)
		JOIN SHIPPING_ADDRESS USING(SHIP_NO)
		ORDER BY
		ORDER_DATE DESC
		) A
		)
		WHERE RNUM BETWEEN ? AND ?
	</entry>

	<entry key="selectStatusOrderList">
		SELECT *
		FROM (
		SELECT ROWNUM RNUM,
		A.*
		FROM (
		SELECT
		ORDER_NO
		, MEMBER_ID
		, PAYMENT_AMOUNT
		, TO_CHAR(ORDER_DATE, 'YY/MM/DD
		HH24:MI:SS') ORDER_DATE
		, SHIP_ADDR
		, ORDER_STATUS
		FROM ORDERS
		JOIN MEMBER
		USING(MEMBER_NO)
		JOIN SHIPPING_ADDRESS USING(SHIP_NO)
		WHERE ORDER_STATUS
		= ?
		ORDER BY ORDER_DATE DESC
		) A
		)
		WHERE RNUM BETWEEN ? AND ?
	</entry>

	<entry key="updateOrderStatus">
		UPDATE ORDERS
		SET ORDER_STATUS = ?
		WHERE ORDER_NO = ?
	</entry>
	
	<entry key="selectSearchAllCount1">
	SELECT COUNT(*) COUNT 
        FROM ORDERS
        JOIN MEMBER USING (MEMBER_NO)
        WHERE MEMBER_ID LIKE ?
	</entry>
	
	<entry key="selectSearchAllCount2">
	SELECT COUNT(*) COUNT 
        FROM ORDERS
        JOIN SHIPPING_ADDRESS USING(SHIP_NO)
        WHERE SHIP_ADDR LIKE ?
	</entry>
	
	<entry key="selectSearchAllOrderList1">
	SELECT *
		FROM (
		SELECT ROWNUM RNUM,
		A.*
		FROM (
		SELECT
		ORDER_NO
		, MEMBER_ID
		, PAYMENT_AMOUNT
		, TO_CHAR(ORDER_DATE, 'YY/MM/DD
		HH24:MI:SS') ORDER_DATE
		, SHIP_ADDR
		, ORDER_STATUS
		FROM ORDERS
		JOIN MEMBER
		USING(MEMBER_NO)
		JOIN SHIPPING_ADDRESS USING(SHIP_NO)
		ORDER BY
		ORDER_DATE DESC
		) A
		)
		WHERE RNUM BETWEEN ? AND ?
        AND MEMBER_ID LIKE ?
	</entry>
	
	<entry key="selectSearchAllOrderList2">
	SELECT *
		FROM (
		SELECT ROWNUM RNUM,
		A.*
		FROM (
		SELECT
		ORDER_NO
		, MEMBER_ID
		, PAYMENT_AMOUNT
		, TO_CHAR(ORDER_DATE, 'YY/MM/DD
		HH24:MI:SS') ORDER_DATE
		, SHIP_ADDR
		, ORDER_STATUS
		FROM ORDERS
		JOIN MEMBER
		USING(MEMBER_NO)
		JOIN SHIPPING_ADDRESS USING(SHIP_NO)
		ORDER BY
		ORDER_DATE DESC
		) A
		)
		WHERE RNUM BETWEEN ? AND ?
        AND SHIP_ADDR LIKE ?
	</entry>

	<entry key="selectOrder">
		SELECT ORDER_NO 
       , REQUEST 
       , RES_PHONE 
       , TO_CHAR(ORDER_DATE, 'YY/MM/DD
		HH24:MI:SS') ORDER_DATE 
       , TRACKING_NO
       , PAYMENT_NO
       , PAYMENT_STATUS
       , SHIP_ADDR
       , MEMBER_ID  
       , ORDER_STATUS 
       , LISTAGG(ITEM_NAME, ', ') WITHIN GROUP (ORDER BY ITEM_NAME) AS ITEM_LIST 
       , SUM(ITEM_PRICE * (1-ITEM_DISCOUNT) * ORDER_ITEM) AS TOTAL_PRICE 
		FROM ORDERS
		JOIN ITEM_LIST USING (ORDER_NO)
		JOIN ITEM USING (ITEM_CODE)
		JOIN MEMBER USING (MEMBER_NO)
		JOIN SHIPPING_ADDRESS USING (SHIP_NO)
		WHERE ORDER_NO = ?
		GROUP BY ORDER_NO, REQUEST, RES_PHONE, ORDER_DATE, TRACKING_NO, PAYMENT_NO, PAYMENT_STATUS, SHIP_ADDR, MEMBER_ID, ORDER_STATUS
	</entry>
	
	
	
</properties>